# Notebook repaso primer parcial

El presente notebook tiene como propósito realizar un repaso de los temas vistos en la asignatura Procesamiento y análsis de datos para ciencias sociales en R. Se eligió un noteook en lugar de un script en Rstudio debido a que esta herramienta permite visualizar los resultados sin necesidad de ejecutar la totalidad de líneas y sin necesidad de las dependencias. Asimismo, esta forma de mostrar los resultados puede resultar más pedagógica de el script en R.

## Tipo de variables y de objetos

A continuación, se presentan algunos de los tipos de objetos y de variables en R.

En R -así como en otros lenguajes de programación- creamos objetos que almacenan información. Para ello definimos un nombre para el objeto seguido del operador de asignación y posteriormente, la información que deseamos asignar.

La estructura es la siguiente:

In [ ]:
nombre_objeto <- "informacion a asignar"

En el código anterior definimos el objeto con nombre nombre_objeto el operador de asignación <- y la información que deseamos asignar.

Ahora introduciremos el concepto de función. Una función realiza una operación a un objeto. Su sintaxis suele presentarse como sigue:

nombre_funcion(objeto_sobre_el que_se_opera)

Primero tenemos el nombre de la función, seguido de un paréntesis y dentro de estos el objeto al cuál se le aplica la operación.

El la siguiente celda se utiliza la función print(), esta función sirve para imprimir en consola el contenido de un objeto. Así pues, crearemos un objeto, le asignaremos un contenido y posteriormente lo imprimitemos en consola con la función print()

In [ ]:
cadena_str_1 <- "hola clase!"

print(cadena_str_1)

[1] "hola clase!"

Ahora presentaremos una segunda función. La función typeof() permite devolver el tipo de dato o de variable que se encuentra almacenada en un objeto.

Es importante señalar que las funciones se pueden combinar. En ese sentido, podemos combinar las funciones print() y typeof() para identificar el tipo de dato almacenado en un objeto y posteriormente imprimirlo en consola, así:

In [ ]:
print(typeof(cadena_str_1))

[1] "character"

Anteriormente, creamos el objeto cadena_str_1 el cual almacena el contenido asignado. En la celda anterior observamos que, al imprimir el tipo de dato o de variable, nos regresa "character". Esto indica que el cotenido del objeto es una cadena de texto.

Las cadenas de texto se definen con comillas "" y de esta manera le indicamos a R que estamos asignando texto plano y no otro tipo de dato.

Reviemos otro tipo de variables en R

In [ ]:
num_decimal_1 <- 42

print(num_decimal_1)
print(typeof(num_decimal_1))

[1] 42
[1] "double"

El objeto anterior contiene un valor decimal. Por defecto, cuando almacenamos el valor 42 u otro tipo de valores similares, el dato se guardaa como un decimal. Este valor se conoce en R como "double".

Si deseamos almacenar un dato como valor entero, debemos agregar la letra L al final del número como se observa a continuación:

In [ ]:
num_entero_1 <- 15L

print(num_entero_1)
print(typeof(num_entero_1))

[1] 15
[1] "integer"

Otro tipo de valores son los datos lógicos. Estos poseen una estrutura booleana TRUE o FALSE y permiten combinarse de manera muy potente con funciones de tipo condicional, las cuales se verán más adelante.

In [ ]:
valor_logico_1 <- TRUE

print(valor_logico_1)
print(typeof(valor_logico_1))

[1] TRUE
[1] "logical"

### Tipos de objetos en R

#### Vectores

En esta sección se presentan dos de los tipos de objetos más importantes en lenguaje R, a saber: vectores y dataframes.

Un vector en R corresponde a un objeto unidimensional que almacena una secuencia de elementos del mismo tipo. Esto implica que todos los valores deben ser de tipo carácter (cadena de texto), entero (integer), decimal (double) u otro tipo de variable. No es posible tener un vector con valores combinados. Si bien un vector podría contener los elmentos "Alberto", "Tatiana", "5", "13.7", "TRUE" estos elementos se almacenarían como cadenas de texto y por tanto, no tendrían sus propiedades aritméticas o lógicas.

Para definir un vector utilizamos la función c(). Esta función nos permite definir que los valores a introducir se almacenarán como un vector

In [ ]:
cadena_str_2 <- c("Juan", "Catalina", "Sergio", "liliana", "12")

print(cadena_str_2)
print(typeof(cadena_str_2))

[1] "Juan"     "Catalina" "Sergio"   "liliana"  "12"
[1] "character"

Nótese que si un valor numérico, lógico o de cualquier otro tipo se encuentra entre comillas, se leerá como una cadena de texto. En ese sentido los valores 15 y "15" no son equivalentes.

In [ ]:
num_decimal_2 <- c(42, 12.5, 86, 97.3)

print(num_decimal_2)
print(typeof(num_decimal_2))

[1] 42.0 12.5 86.0 97.3
[1] "double"

In [ ]:
num_entero_2 <- c(42L, 55L, 7L, 1456L)

print(num_entero_2)
print(typeof(num_entero_2))

[1]   42   55    7 1456
[1] "integer"

In [ ]:
valor_logico_2 <- c(TRUE, TRUE, FALSE, TRUE, FALSE)

print(valor_logico_2)
print(typeof(valor_logico_2))

[1]  TRUE  TRUE FALSE  TRUE FALSE
[1] "logical"

In [ ]:
cadena_datos_faltantes <- c("ana", "julian", NA, "valentina", "NA")

print(cadena_datos_faltantes)
print(typeof(cadena_datos_faltantes))

[1] "ana"       "julian"    NA          "valentina" "NA"
[1] "character"

En la cenda anterior se observan los valores faltantes (missing data). Estos valores se representan con NA e indican que para una determinada posición, no se tiene ningún valor. Asimismo, al final del vector se tiene el valor "NA". Al estar entre comillas "", se almacena como una cadena de texto.

#### Dataframes

Es una estructura de datos bidimensional que almacena la información en filas (observaciones) y columnas (variables o atributos). Asimismo, los dataframe poseen títulos para nombrar e individualizar las columnas.

A continuación, se presenta una forma de crear un dataframe. Se utiliza la función data.frame() y dentro de ella se definen vectores y sus correspondientes nombres. Por último, imprimimos el dataframe con la función View()

In [ ]:
tabla_personas <- data.frame(
  nombre = c("Karen", "Nicolas", "Natalia", "Sebastian"),
  edad_anios = c(23L, 56L, 19L, NA),
  altura = c(1.67, 1.78, 1.58, 1.65),
  mes_nacimiento = c("Julio", "Agosto", "Abril", "Junio")
)

View(tabla_personas)

  nombre    edad_anios altura mes_nacimiento
1 Karen     23         1.67   Julio
2 Nicolas   56         1.78   Agosto
3 Natalia   19         1.58   Abril
4 Sebastian NA         1.65   Junio

In [ ]:
caractrst_cocaleros <- data.frame(
  rol = c("cultivador", "recolector", "no cultivador"),
  hectareas = c(3.4, 0.8, 12.3),
  proyecto_productivo = c("Cacao", "Apicultura", "Cacao")
)

View(caractrst_cocaleros)

  rol           hectareas proyecto_productivo
1 cultivador     3.4      Cacao
2 recolector     0.8      Apicultura
3 no cultivador 12.3      Cacao

Los nombres de las variables de un dataframe nos permiten acceder a sus valores al llamarlas con el operador $.

A continuación, imprimimos un par de columnas individuales del dataframe anterior utilizando dicho operador.

In [ ]:
print(caractrst_cocaleros$rol)

[1] "cultivador"    "recolector"    "no cultivador"

In [ ]:
print(caractrst_cocaleros$hectareas)

[1]  3.4  0.8 12.3

# Taller 1. Aplicaciones de programación en R

**Objetivo:** Comprender y aplicar los conceptos de vectores, data frames, listas, ciclos, condicionales y funciones en R para la organización y clasificación de información poblacional.

### Punto 1.  

1.1 Crear cinco vectores con longitud N = 5.

1.2 Cada vector representará una característica diferente de una muestra de persona:

* Fecha de nacimiento.
* Nombre: vector de carácter con nombres de personas.
* Hectáreas: vector numérico double (puede tener decimales), que represente hectáreas cultivadas.
* Edad en años: vector numérico entero (int) con edades de las personas.
* Adscrito_pnis: vector booleano (TRUE o FALSE) que indique si la persona está adscrita al PNIS (Programa Nacional Integral de Sustitución de Cultivos).

### Punto 2.  

2.1 Unir los vectores creados en el paso anterior en un único data frame llamado datos_poblacion.

2.2 Imprimir el data frame para verificar su contenido.

### Punto 3.  

3.1 Utilizar un ciclo for para recorrer cada fila del data frame. Según la edad, clasificar a cada persona en uno de los siguientes grupos etarios del DANE:

* Niños y jóvenes: 0 - 14 años

* Adultos: 15 - 64 años

* Adultos mayores: 65 años en adelante

### Punto 4. (reto)

4.1 Calcular el promedio de hectáreas cultivadas con una función.

In [ ]:
## solucion punto 1

vect_date <- c(2001, 2005, 2000, 2010, 2020)

vector_name <- c ("ana", "paula", "pepe", "ursula", "laura")

vect_hect <- c(22.5, 10.7, 12.6, 20.3, 18.2)

vect_edad <- c(9, 32, 45, 51, 88)

adscrito_pnis <- c(TRUE, FALSE, FALSE, TRUE, TRUE)

In [ ]:
## solucion punto 2

datos_poblacion <- data.frame(nombre = vector_name,
                      fecha_nacimiento = vect_date,
                      edad = vect_edad,
                      has = vect_hect,
                      inscrito = adscrito_pnis)

View(datos_poblacion)

  nombre fecha_nacimiento edad has  inscrito
1 ana    2001              9   22.5  TRUE
2 paula  2005             32   10.7 FALSE
3 pepe   2000             45   12.6 FALSE
4 ursula 2010             51   20.3  TRUE
5 laura  2020             88   18.2  TRUE

In [ ]:
## solucion punto 3

## utilizar la función for()

## utilizar la función if()

for (edad in datos_poblacion$edad) {

  if (edad > 0 && edad < 14) {

    print(edad)

    print("Niños y jóvenes")

  }

  if (edad > 14 && edad < 64) {

    print(edad)

    print("Adultos")
  }

  if (edad >= 64){
    print(edad)
    print("Adultos mayor")
  }
}

[1] 9
[1] "Niños y jóvenes"
[1] 32
[1] "Adultos"
[1] 45
[1] "Adultos"
[1] 51
[1] "Adultos"
[1] 88
[1] "Adultos mayor"

In [ ]:
## solucion punto 4

## Utilizar la función length() para contar la cantidad de elementos de un vector.

## Utilizar la función sum() para sumar la totalidad de valores de un vector.

# primera forma de solución
n_vals <- length(datos_poblacion$has)

sum_has <- sum(datos_poblacion$has)

prom_hectareas_1 <- sum_has/n_vals

print(prom_hectareas_1)

[1] 16.86

In [ ]:
## solucion punto 4

## Utilizar la función mean().

# segunda forma de solución
promedio_hectareas_2 <- mean(datos_poblacion$has)

print(promedio_hectareas_2)

[1] 16.86

## Funciones

Las funciones son fragmentos de código que nos permiten realizar una tarea u operación específica. Su estructura está dada por:

*   **Nombre:** corresponde a la forma de nombrear y de llamar la función, por ejemplo, mean(), sum(), mutate(), read_xlsx() etc. Nótese que la funciones poseen paréntesis, puesto que esperan recibir algún tipo de argumento.

*   **Argumentos o parámetros:** Es quello que recibe la función o, en otras palabras, las entradas de la función. La funciones reciben pueden recibir objetos generales como vectores, dataframes o listas, y también poseen parámetros específicos que solamente están diseñados para una función en concreto. Así, por ejemplo, sum() puede recibir un vector de números o de valores lógicos, y a la vez posee el párametro na.rm = el cuál espera un valor lógico (TRUE o FALSE) a fin de determinar si debe ignorar o tener en cuenta los valores en *NA*. Otro ejemplo de funciones -en la que profundizaremos más adelante- es la función read_parquet(), esta función recibe como parámetros una cadena de texto con la ruta de un archivo a importar y también, con el parámetro col_select =, recibe un vector con los nombres de las columnas que queremos seleccionar. Dos realizaciones de nuestros dos ejemplos anteriores serían:

  *   sum(vec_num, na.rm = TRUE)
  *   read_parquet("/c/Users/sebas/Documents/clase_r_cs/tabla_pnis.xlsx", col_select = c("nombres", "hectareas"))


*   **Cuerpo:** El cuerpo de la función corresponde al código que está "por debajo" y realiza las operaciones que estamos llamando. Cuando llamamos una función de R base o de un paquete externo, no necesitamos definir un cuerpo. No obstante, cuando somos nosotras quienes la creamos, debemos delimitar los parámetros que recibirá la función así como las instrucciones de las operaciones que R ejecutará para con dichos parámetros. En el caso de R, el cuerpo de la función se encuentra encapsulado entre llaves {}.

*   **Retorno:** Una vez se definen los parámetros y las operaciones, R debe regresar algún tipo de salida para con nuestra función. Al igual que con el cuerpo, el especificar el retorno de la función es exclusivo de las funciones en las que somos sus creadores. Para ello, a su vez, se hace uso de la función return() la cuál espera la salida que queremos regresar a los y las usuarias de nuestras funciones.

El lenguaje R nos brinda la posibilidad de crear nuestras propias funciones. Esto es especialmente útil cuando debemos realizar una tarea muy específica y repetirla varias veces a lo largo de un script. Para este propósito, haremos uso de function() y del operador de asignación a fin de dotar de un nombre a nuestra función. A continuación, algunos ejemplos de funciones inventadas.

En primer lugar, vamos a crear una función llamada num_cuadrado la cual espera recibir un valor numérico y la operación que realiza es la de elevar el número al cuadrado. Posteriormente, almacenaremos el resultado en un nuevo objeto y procedemos a imprimirlo.

In [ ]:
## funcion para elevar un número a cuadrado.

num_cuadrado <- function(x) {

  resultado <- x*x

  return(resultado)
}

cuadrado_de_nueve <- num_cuadrado(9)

veinticinco_al_cuadrado <- num_cuadrado(25)

print(cuadrado_de_nueve)
print(veinticinco_al_cuadrado)

[1] 81
[1] 625

En segundo lugar, se contruye una función llamada div_par, la cual recibe un vector de números y procede a dvidirlos por 2.

In [ ]:
## función para dividir por dos.

div_par <- function(vec_nums){

  resl_div <- vec_nums/2

  return(resl_div)
}

vector_prueba_1 <- c(20, 34, 13, 6, 56)

vector_prueba_2 <- c(1235, 3456)

division_par_nums_a <- div_par(vector_prueba_1)

division_par_nums_b <- div_par(vector_prueba_2)

print(division_par_nums_a)
print(division_par_nums_b)

[1] 10.0 17.0  6.5  3.0 28.0
[1]  617.5 1728.0

A continuación, realizaremos un ejercicio de estandarización para un conjunto de valores numéricos. Para ello, se procede con la creación de una función que le resta a cada número la media y luego lo divide por la desviación estándar.

In [ ]:
# Función para estandarizar valores numéricos.
standrzcn_num <- function(vec_x) {

  media_num <- mean(vec_x)

  sd_num <- sd(vec_x)

  var_stand <- (vec_x - media_num)/sd_num

  return(var_stand)
}


prueba_nums <- c(34, 45, 4, 567, 23, 56)

segund_prueba_nums <- c(20, 45, 54, 45, 78, 45)

reslt_standrzcn <- standrzcn_num(prueba_nums)

seg_reslt_standrzcn <- standrzcn_num(segund_prueba_nums)

print(reslt_standrzcn)
print(seg_reslt_standrzcn)

[1] -0.3995663 -0.3493351 -0.5365604  2.0343632 -0.4497975 -0.2991039
[1] -1.4891021 -0.1515852  0.3299208 -0.1515852  1.6139370 -0.1515852